.table-container{
    display: flex;
    height: calc(100vh - 130px);
    overflow: hidden;
}
.table-wrapper{
    flex: 10; /* partage de lecran 10 pour userstable et 2 pour side bar */
    border-left: 2px solid var(--secondary-color);
    padding: 20px;
    overflow-y: scroll;
}
.table-title{
    font-size: 30px;
    color: var(--secondary-color);
    margin-bottom: 15px;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
    width: max-content;
}
.table{
    width: 100%;
    text-align: left;
    border-collapse:collapse;
}
th,td {
    border: 1px solid var(--gray-color);
    padding: 10px; 
}
th{
    background-color: var(--primary-color);
    color: var(--white-color);
}
tr:nth-child(even){
   background-color: var(--white-color);
}
tr:hover{
    background-color: #ddd;
}
.table-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.table-user-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.table-username{
    font-weight: 500;
    font-size: 17px;
}
.table-button-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-button-group button {
    margin: 5px 0; /* Adjust the value to control the spacing */
    border:none;
    background-color: var(--green-color);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}



.table-button-group button:last-child{
    background-color: var(--red-color);
}
.table-button-group button:last-child:hover{
    background-color:rgb(255, 42, 0);
}
.table-button-group button:first-child:hover{
    background-color:greenyellow;
}
.table-button-group button:first-child a {
    color: white;
}

/* media query (for responsive)*/
@media (max-width:720px) { 
    .table-wrapper{
        padding: 15px;
    }
   
    .table-button-group button{
        padding: 5px;
    }
    .table-user-image{
        width: 20px;
        height: 20px;
    }
    
    .table-username{
        font-size: 10px;
        font-weight: 200;
        
}


}